<div class="navbar navbar-expand-sm navbar-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logoMSB.png" %>
  <% end %>

  <div class="nav-action">
    <%= link_to new_surf_session_path, class: "icon navbar-brand action-icon" do %>
      <%= image_tag "add.png", data: { turbolinks: false } %>
    <% end %>

   <!--  SI PAGE ACTUEL == INDEX -> LOGO menu-->
    <%if current_page?(root_path) %>
    <%= image_tag "menu.png", class: "nav-menu" %>
    <div class="show-menu"></div>



    <!--  SI PAGE ACTUEL == NEW -> LOGO back-->
    <% elsif current_page?(new_surf_session_path) %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "back.png" %>
      <% end %>

    <!--  SINON PAGE ACTUEL == SHOW -> LOGO share + insertion FB et WA-->
    <% else %>
      <%= image_tag "share.png", class: "nav-share" %>
      <div class="share-menu"></div>



<% end %>




  </div>
</div>
