<div class="navbar navbar-expand-sm navbar-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logoMSB.png" %>
  <% end %>

  <div class="nav-action">
    <%= link_to new_surf_session_path, class: "icon navbar-brand action-icon" do %>
      <%= image_tag "add.png", data: { turbolinks: false } %>
    <% end %>

   <!--  <%= link_to root_path, class: "icon navbar-brand action-icon" do %>
      <%= image_tag "share.png" %>
    <% end %> -->


<!-- SIGN IN OR SIGN OUT-->
<!--  <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  <% end %>

    SIGN OUT
<%= link_to "Log out", destroy_user_session_path, method: :delete  %>
    -->


      <%= image_tag "menu.png", class: "nav-menu" %>
      <div class="show-menu"></div>

        <script>

          let menu = document.querySelector('.nav-menu');

          function showMenu(e) {
            console.log("it's on");
            document.querySelector('.show-menu').innerHTML =
            '<%= link_to "Log out", destroy_user_session_path, method: :delete  %>';
            e.preventDefault();
          };

          menu.addEventListener('click', showMenu);


        </script>



  </div>
</div>
