<div class="home-banner">
    <h1>MYSURF<span>LOG</span></h1>
</div>

<div class="home-logged">
  <h2><%=Time.now.strftime("%Y")%>, <%=@surf_sessions.count%> sessions so far</h2>

     <% @surf_sessions.each do |surf_session| %>
      <div class="session-card">
        <div class="index-photo">
          <% if surf_session.photos.any? %>
            <%= cl_image_tag surf_session.photos.first.key  %>
          <% end %>
        </div>
        <div class="index-session">
          <%= link_to surf_session.title, surf_session_path(surf_session)%>
          <%=surf_session.date%>
        </div>
      </div>
    <% end %>
</div>
