<div class="home-banner">
    <h1>MYSURF<span>LOG</span></h1>
</div>

<div class="home-logged">
  <div class="home-title">
    <h2><%=Time.now.strftime("%Y")%>, <%=@surf_sessions.count%> sessions so far</h2>
    <h3>and you surfed  <%= @surf_sessions.distinct.pluck(:spot).count  %> different spots!</h3>
  </div>



     <% @surf_sessions.each do |surf_session| %>
      <div class="session-card">
        <div class="index-photo">
          <% if surf_session.photos.any? %>
            <%= cl_image_tag surf_session.photos.first.key  %>
          <% end %>
        </div>
        <div class="index-session">
          <%= link_to surf_session.spot, surf_session_path(surf_session)%>
          <%= link_to surf_session.date.strftime("%d/%m"), surf_session_path(surf_session) %>
          <%= link_to (image_tag "trash.png", width:"20px"), surf_session_path(surf_session), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>


  <div class="follow-friends">
    <h3> You may know this champs' ?</h3>
    <div class="friends">
      <% @users.each do |user| %>
      <%  unless user === @current_user %>
      <ul class="friend">
        <div class="avatar">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key  %>
          <% else %>
            <%= image_tag "avatardefault.png"  %>
          <% end %>
        </div>
        <button class="btn follow-btn ">Follow <%= user.name %></button>
      </ul>
      <% end %>
    <% end %>
    </div>
  </div>

</div>
