<h1><%= @surf_session.title %></h1>
<h2><%= @surf_session.spot %></h2>
<p><%= @surf_session.date %></p>

<p><%= @surf_session.description %></p>
<% if @surf_session.photos.exists? %>
  <% @surf_session.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
<button><%= link_to "Edit", edit_surf_session_path(@surf_session) %></button>
<button><%= link_to "Delete", @surf_session, method: :delete, data: { confirm: "Are you sure ?" } %></button>


