<div class="container">
 <!--  <div class="row">
    <div class="col-xs-4 show"> -->

      <h1><%= @surf_session.title %></h1>
      <h2><%= @surf_session.spot %></h2>


      <div class="show-photos">

        <% if @surf_session.photos.exists? && (@surf_session.photos.count > 1)%>

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <% @surf_session.photos.each do |photo| %>
              <%= cl_image_tag photo.key, crop: :fill, class:"d-block w-100" %>
              <% end %>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <% else %>
          <% @surf_session.photos.exists? %>
          <% @surf_session.photos.each do |photo| %>
             <%= cl_image_tag photo.key, crop: :fill %>
          <% end %>
        <% end %>
      </div>








      <div class="spot-description">
        <div class="picto">
          <p><% @surf_session.rating.times do |rating| %>
          <%= image_tag "stars.svg", width:30, height:30 %>
          <% end %></p>
          <p><%= image_tag "wave.svg", width:50, height:50 %> <%= @surf_session.wave %></p>
        </div>
        <div class="picto">
          <label>Spot type</label>
          <%= spot_type(@surf_session.spot_type) %>
          <label>Tide</label>
          <%= tide(@surf_session.tide) %>
          <p><%= image_tag "wind.svg", width:50, height:50 %> <%= @surf_session.wind %></p>
        </div>
      </div>


      <p><%= @surf_session.date %></p>
      <p><%= @surf_session.description %></p>

      <div class="btn">
      <button><%= link_to "Edit", edit_surf_session_path(@surf_session), data: { turbolinks: false } %></button>
      <button><%= link_to "Delete", @surf_session, method: :delete, data: { confirm: "Are you sure ?" } %></button>
      <button> <%= link_to "Back to your sessions", surf_sessions_path %>
      </button>
      </div>
   </div>
  </div>
</div>
