<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v11.0" nonce="A5KZD3zX"></script>

<div class="container session-container show">
  <h1><%= @surf_session.title %></h1>
  <h2><%= @surf_session.spot %></h2>

  <div class="show-photos">
    <% if @surf_session.photos.exists? && (@surf_session.photos.count > 1) %>
      <div data-controller="carousel" class="swiper-container">
        <div class="swiper-wrapper">
          <% @surf_session.photos.each do |photo| %>
            <div class="swiper-slide">
              <%= cl_image_tag photo.key, crop: :fill, class:"d-block w-100" %>
            </div>
          <% end %>
        </div>
      </div>
    <% elsif @surf_session.photos.exists? %>
      <% @surf_session.photos.each do |photo| %>
         <%= cl_image_tag photo.key, crop: :fill %>
      <% end %>
    <% end %>
  </div>

  <div class="about-spot">
    <div class="stars">
      <p><% @surf_session.rating.times do |rating| %>
      <%= image_tag "stars.svg", width:30, height:30 %>
      <% end %></p>
    </div>
        <h3><label>About the spot</label></h3>
    <div class="picto">
      <div class="picto1">
        <div> <%= spot_type(@surf_session.spot_type) %> <%= @surf_session.spot_type %> </div>
        <div> <%= tide(@surf_session.tide) %> <%= @surf_session.tide %> </div>
      </div>
      <div class="picto2">
        <p><%= image_tag "wind.png", width:35 %> <%= @surf_session.wind %></p>
        <p><%= image_tag "wave.png", width:35 %> <%= @surf_session.wave %></p>
      </div>
    </div>
  </div>


  <div class='about-session'>
    <p><%= @surf_session.date.strftime("%A %d %B") %></p>
    <p><%= @surf_session.description %></p>
  </div>



  <div class="share">
    <div class="fb-share-button" data-href= "<%= request.url  %>" data-layout="button" data-size="large">
      <a target="_blank"
      href="https://www.facebook.com/sharer/sharer.php?u=<%=request.url%>%2F&amp;src=sdkpreparse"
      class="fb-xfbml-parse-ignore">Share on FB</a>
    </div>

    <a class="WA" href="whatsapp://send?text=<%= request.url %>">WhatsApp</a>

  </div>

  <div class="buttons">
    <button><%= link_to "Edit", edit_surf_session_path(@surf_session), data: { turbolinks: false } %> </button>
    <button><%= link_to "Delete", @surf_session, method: :delete, data: { confirm: "Are you sure ?" } %></button>
    <button> <%= link_to "Back to your sessions", surf_sessions_path %></button>
  </div>
</div>
